main {
  min-height: 75vh;
}

#main-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 1rem auto;
  padding: 20px;
  width: 80%;
}

h2 {
  background-color: #6c5b7b;
  width: 100%;
  font-size: 26px;
  text-align: center;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

#info-comment {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f5f6fa;
  width: 60%;
  margin: auto;
  padding: 15px;
  box-shadow: var(--box-shadow);
}

#info-comment:hover {
  box-shadow: 2px 2px 3px 1px #17445c;
}

#info-comment img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 15px;
}

.box-content {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  height: 5vh;
  padding: 15px;
  background-color: #989696;
}

.nameUser {
  color: #182C61;
  padding: 10px;
  font-size: 20px;
  text-decoration: underline;
}

span {
  color: #EAB543;
}

.link a {
  text-decoration: none;
  color: #1B9CFC;
}

.link a:hover {
  color: #105386;
}

.infos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.infos img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 50%;
}

.user {
  color: #182C61;
  margin-right: 5px;
  font-weight: 500;
  text-decoration: underline;
}

.date {
  font-style: italic;
  color: #3b3b3b;
  font-size: 12px;
}

#postForm  {
  display: flex;
  flex-direction: column;
  background-color: #7f8fa6;
  padding: 1rem;
  width: 50%;
  margin: 1rem auto;
}

#postForm p {
  text-align: center;
}

#postForm form {
  display: flex;
  justify-content: center;
  width: 80%;
  text-align: center;
}

form textarea {
  margin: 10px;
}

#submit, .btn-del {
  text-align: center;
  width: 80px;
  margin: auto;
  background-color: #EAB543;
  color: #6c5b7b;
  border: none;
  padding: 5px;
  cursor: pointer;
}

#submit:hover, .btn-del:hover {
  background-color: #105386;
  color: antiquewhite;
}

.btn-del {
  margin: 0;
  margin-right: 20px;
}