main {
  min-height: 75vh;
}

#main-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px auto;
  padding: 20px;
  width: 80%;
}

h2 {
  background-color: #6c5b7b;
  width: 100%;
  font-size: 26px;
  text-align: center;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

span {
  color: #EAB543;
}

.box-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: antiquewhite;
  margin: 2px auto;
  height: 5vh;
  width: 80%;
  padding: 20px;
}

.box-content:nth-child(odd){
  background-color: aliceblue;
}

.count {
  color: blue;
  margin-right: 5px;
}

.link a {
  text-decoration: none;
  color: #386f99;
}

.link a:hover {
  color: #0d3555;
  text-decoration: underline;
}

.infos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.infos img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.user {
  color: #182C61;
  margin-right: 5px;
  font-weight: 500;
  text-decoration: underline;
}

.date {
  font-style: italic;
  color: #3b3b3b;
  font-size: 12px;
}

#postForm  {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  width: 50%;
  margin: 1rem auto;
}

#postForm p {
  text-align: center;
}

#postForm form {
  display: flex;
  justify-content: center;
  width: 80%;
  text-align: center;
}

form textarea {
  margin: 10px;
}

#submit, .btn-del {
  text-align: center;
  width: 80px;
  margin: auto;
  background-color: #EAB543;
  color: #6c5b7b;
  border: none;
  padding: 5px;
  cursor: pointer;
}

#submit:hover, .btn-del:hover {
  background-color: #105386;
  color: antiquewhite;
}

.btn-del {
  margin: 0;
  margin-right: 20px;
}