#main-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 1rem auto;
  padding: 20px;
  width: 80%;
}

h2 {
  background-color: #6c5b7b;
  width: 100%;
  font-size: 26px;
  text-align: center;
  color: white;
  padding: 10px;
}

#box-content {
  background-color: antiquewhite;
  width: 80%;
  margin: 1rem auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 1px #2b2b2b;
}

#box-content:nth-child(odd) {
  transform: translateX(10px);
}

#box-content:nth-child(even) {
  transform: translateX(-10px);
}

#box-content:hover {
  transition: 0.2s;
  transform: translate(0);
}

#box-content:hover {
  box-shadow: 2px 2px 3px 1px #6c5b7b;
}

h3 {
  text-decoration: underline;
  margin: 10px;
  color: #2C3A47;
}

#box-topic {
  display: flex;
  justify-content: space-between;
  margin: 2px;
  background-color: white;
  min-height: 7vh;
  align-items: center;
}

.box-subject {
  display: flex;
  flex-basis: 1 1 auto;
  padding: 10px;
}

.box-subject a {
  text-decoration: none;
  color: #1B9CFC;
  font-weight: 700;
}

.box-subject a:hover {
  text-decoration: underline;
}

.user {
  color: #182C61;
  margin-right: 5px;
  font-weight: 500;
  text-decoration: underline;
}

.date {
  font-style: italic;
  color: #3b3b3b;
  font-size: 12px;
}

.imgUser {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

#postForm  {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  width: 50%;
  margin: 1rem auto;
}

#postForm p {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  width: 80%;
  text-align: center;
}

form select {
  text-align: center;
  margin: 10px auto;
  width: 200px;
}

form textarea {
  margin: 10px;
}

#submit, .btn-del {
  text-align: center;
  width: 80px;
  margin: auto;
  background-color: #EAB543;
  color: #6c5b7b;
  border: none;
  padding: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #27627c;
}

#submit:hover, .btn-del:hover {
  background-color: #FEA47F;
  color: #1B9CFC;
}

.btn-del {
  margin-right: 20px;
}

.count {
  color: blue;
  margin-right: 5px;
}