main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 1rem auto;
  background-color: lightcyan;
}

article {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin: 1rem;
  border: var(--border);
  padding: 20px;
}

div {
  /* border: var(--border); */
  padding: 20px;
  margin: 10px;
}

div a {
  text-decoration: underline;
  color: grey;
}

p {
  /* border: var(--border); */
  margin: 5px;
  padding: 5px;
}

#postForm-topic {
  width: 50%;
  border: none;
}

#deleteForm-topic {
  border: none;
  padding: 0;
}